*{
  box-sizing: border-box;
}
body {
  position: relative;
  width: 98%;
  height: 96%;
  margin: 0.8em auto;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #3798AE;
  border-radius: 4px;
}
nav{
  position: relative;
  height: 10%;
  padding: 1em;
}
nav ul li:first-child{
  float: left;
}
nav ul li:last-child{
  float: right;
}
nav ul li{
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
input {
  background: #FFFFFF;
}
ul {
  list-style: none;
}

h1{
  font-weight: 900;
  font-size: 3em;
  padding: 0.8em;
  color: #fff;
}
h1, h2 {
  text-align: center;
}
h2{
  margin: 0 auto;
  background: #E9556E;
  padding: 1em 0.4em;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
  line-height: 1em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
}
main {
  display: block;
  margin: auto;
}
form {
  margin: auto;
  width: 200px;
}
form input {
  width: 200px;
}
form button {
  width: 200px;
  margin-top: 20px;
}
.overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  background: hotpink;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
}
div.what{
  background: hotpink;
  position: relative;
  height: auto;
  width: auto;
  border-radius: 3px;
  top: 15%;
  margin: auto auto;
  border: 1px solid rgba(0,0,0,0.1);
}
.what h3{
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  background: rgba(0,0,0,0.1);
  border-radius: 3px  3px 0 0;
}
.what > div ul li{
  padding: 5px 0;
  display: block;
  list-style-type: disc;
  line-height: 1.5em;
}
.what > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}
.what > button {
  display: block;
  font-weight: 500;
  color: black;
  padding: 0.5em 1em;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #89898C;
  font-size: 1em;
  border: none;
  border-radius: 4px;
}
div.instructions{
  margin:100px;
}
.game{
  position: relative;
  background-color: #445794;
  width: 380px;
  height: 380px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto;
}
input {
  width: 300px;
  height: 50px;
  display: block;
  padding: 0.8em 0;
  margin: 0.8em auto 0;
  background: #62607E;
  color: #fff;
  border: solid 1px #101320;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input.text{
  text-align: center;
  padding: 0.2em;
  font-size: 2em;
}
form > button {
  background: #292E46;
  color: #fff;
  font-size: 2em;
  padding: 0.2em;
  border: solid 1px #101320;
  border-radius: 4px;
  
}
ul.history{
  height: 80px;
  margin: 10px auto 0;
  padding: 0.5em;
  display: block;
  line-height: 2em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  overflow: auto;
}
ul.history li{
  display: inline;
  background-color: #62607E;
  padding: 0.3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 95%;
  border: solid 1px #101320;  
  margin: 0.2em;
  color: #fff;
}
/*1. elements 2. classes 3. ids */